---
import CardBase from "./CardBase.astro";
import { postsStatistics } from '@/content/posts';
import ChevronBtn from "../widget/ChevronBtn.astro";
---
<CardBase title="站点" iconName="mdi:web">
  <ChevronBtn href="/about" slot="extra"/>
  <div class="text-sm lh-loose pl-2 pr-2">
    <div class="flex">
      <div class="flex-1">文章数目 :</div>
      <div>{postsStatistics.count}</div>
    </div>
    <div class="flex">
      <div class="flex-1">本站总字数 :</div>
      <div>{(postsStatistics.readingTimeWordsSum/1000.0).toFixed(1)}k</div>
    </div>
    <div class="flex">
      <div class="flex-1">本站总访客数 :</div>
      <div id="busuanzi_value_site_uv">-</div>
    </div>
    <div class="flex">
      <div class="flex-1">本站总访问量 :</div>
      <div id="busuanzi_value_site_pv">-</div>
    </div>
    <script is:inline async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  </div>
</CardBase>