---
import CardBase from './CardBase.astro'
import { ASIDE_CARDS } from '@/config';
const { info } = ASIDE_CARDS
---
<CardBase class='card-info'>
  <div class="py4 text-center">
    <a class="inline-block" href="/about">
      <div class="m-auto of-hidden w-110px h-110px rounded-70px b b-solid b-linePrim">
        <img class="wfull hfull object-cover bg-#000/5" src={info.avatar} alt=""/>
      </div>
      <div class="fw-bold text-xl lh-loose">{info.name}</div>
    </a>
    <div class="desc text-sm lh-loose h-1em"><span data-strings={JSON.stringify(info.descriptionLines)}></span></div>
  </div>
</CardBase>

<script>
import Typed from 'typed.js'
window.addEventListener("DOMContentLoaded", function () {
  const el = document.querySelector<HTMLSpanElement>(".card-info .desc span")!
  new Typed(el, {
    strings: JSON.parse(el.dataset.strings!),
    typeSpeed: 100,
    backSpeed: 30,
    startDelay: 500, 
    loop: true
  });
})
</script>