---
import CardBase from './CardBase.astro'
import ChevronBtn from '@/components/widget/ChevronBtn.astro'
import { categoryItemsWithSubcategories, type CategoryItemWithSubcategories } from '@/content/posts'
---

<CardBase title="分类" iconName="mdi:folder-open">
  <ChevronBtn href="/categories" slot="extra"/>

  <ul class="text-sm w-full">
    {(()=>{
    
      const h = (category:CategoryItemWithSubcategories) => (
        <li class="pl-2">
          <a href={`/categories${category.path}`} class="flex hover:bg-global p-[5px_8px] hover:p-[5px_12px] duration-500">
            <span class="wfull">{category.name}</span>
            <span>{category.postCount}</span>
          </a>
          { category.subcategories && <ul> { category.subcategories.map((subcategory) => h(subcategory)) } </ul> }
          
        </li>
      )
      return categoryItemsWithSubcategories.map((category)=> h(category))
    
    })()}
  </ul>
</CardBase>
