---
import CardBase from "./CardBase.astro";
import ChevronBtn from '@/components/widget/ChevronBtn.astro'
import { tagsWithPostCount } from '@/content/posts';
---

<CardBase title="标签" iconName='mdi:tag-multiple'>
  <ChevronBtn href="/tags" slot="extra"/>

  <div class="text-xs lh-relaxed pl2">
    {Object.entries(tagsWithPostCount).map(([tag,postCount]) => (
      <a class="inline-block mx2" href={`/tags/${tag}`} style={`font-size:${postCount*0.1+1}em;`}>{tag}<sup class="text-[0.6em]">{postCount}</sup></a>
    ))}
  </div>
</CardBase>