---
import { Icon } from "astro-icon/components";
import CardBase from "./CardBase.astro";
---

<CardBase>
  <div class="flex w-full">
    <button id="back-to-home" class="btn-sm py0 text-1rem mr2"><Icon name="mdi:home"/></button>
    <div class="flex-1 flex h-6 min-w-0 group">
      <input id="search-input" class="flex-1 bg-normal focus:outline-0 box-border b-solid b b-r-0 b-gray-2 dark:b-dark-2 rounded-l-3 pl-1 text-1rem group-hover:b-gray-2 dark:group-hover:b-dark-1" type="text">
      <button id="search-btn" class="btn-sm py0 w-[max-content] rounded-l-0 text-1rem"><Icon name="mdi:search"/></button>
    </div>
    <button id="scroll-to-top" class="btn-sm py0 text-1rem ml2"><Icon name="mdi:arrow-up-thick"/></button>
  </div>
  <script>
    document.querySelector<HTMLButtonElement>('#scroll-to-top')!.addEventListener("click",()=>window.scrollTo({ top: 0, behavior: 'smooth' }))
    document.querySelector<HTMLButtonElement>('#back-to-home')!.addEventListener("click",()=>location.href='/')
    const searchInput = document.querySelector<HTMLInputElement>('#search-input')!
    const jumpToSearchPage = () => { location.href = '/search?q=' + searchInput.value }
    searchInput.addEventListener('keyup',(e)=> {if (e.key=='Enter') jumpToSearchPage() })
    document.querySelector<HTMLButtonElement>('#search-btn')!.addEventListener("click",jumpToSearchPage)
  </script>
</CardBase>