---
import ShieldsBadge from '@/components/widget/ShieldsBadge.astro'
import { SITE_INFO, FOOTER } from '@/config'
const { startYear, endYear, author } = SITE_INFO
---

<div class="text-sm my1em">
  Copyright © {startYear} ~ {endYear} By {author}. All rights reserved.
</div>
<div>
  {FOOTER.badgeGroups.map(badgeGroup=>(
    <div class="space-x-1">
      {badgeGroup.map(badge => (
        <ShieldsBadge format={badge}/>
      ))}
    </div>
  ))}
</div>