.font-code {
  @apply font-mono;
}

.expressive-code {
  --ec-uiFontFml: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ec-codeFontFml: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark .expressive-code {
  .title, pre {
    background-color: #1a1a1a!important;
  }
  .frame.is-terminal  {
    .header,.title {
      background: linear-gradient(to top, transparent 1.5px, transparent 1.5px), linear-gradient(#252526, #252526)!important;
    }
  }
}

.expressive-code {
  padding: 0.5em 0;
  span {
    cursor: var(--cursor-text), text!important;
  }
  .frame.is-terminal {
    .header {
      background: linear-gradient(to top, transparent 1.5px, transparent 1.5px), linear-gradient(#f3f3f3, #f3f3f3)!important;
    }
    .header::before {
      opacity: unset!important;
      background: linear-gradient(to right, #fc625d 33.33%, #fdbc40 33.33% 66.66%, #35cd4b 66.66%);
    }
    .header::after {
      border: 0!important;
    }
  }
}