::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(104, 103, 103, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(104, 103, 103, 0.3);
}

a {
  transition: color .3s;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: dotted 1px #ccc;
}

.dark hr {
  border-bottom: dotted 1px #404040;
}

code, pre, samp, kbd {
  @apply font-mono;
}