---
import { Icon } from 'astro-icon/components'
import If from '../atomic/If.astro'

interface Props {
  href: string
  left?: boolean
}
const { href, left = false } = Astro.props
---

<a {href}>
  <If condition={left}>
    <Icon name="mdi:chevron-left"/>
  </If>
  <If condition={!left}>
    <Icon name="mdi:chevron-right"/>
  </If>
</a>
