---
import { Icon } from "astro-icon/components";
import If from "../atomic/If.astro";

interface Props {
  pnCurr: number, //当前页
  pnLast: number, //最后页
  urlPrefix: string, //路径前缀
  urlFirst?: string //第一页路径
};

const { pnCurr, pnLast, urlPrefix, urlFirst } = Astro.props;
const pnUrl = (pn: number) => pn == 1 ? urlFirst || urlPrefix + 1 : urlPrefix + pn

let pnBtnLimit = 5 //最多显示几个数字按钮
pnBtnLimit = Math.min(pnBtnLimit,pnLast)
let pnBtnStart = Math.ceil(pnCurr - ( pnBtnLimit / 2 ))
pnBtnStart = Math.max(pnBtnStart,1)
let pnBtnEnd = pnBtnStart + pnBtnLimit - 1
pnBtnEnd = Math.min(pnBtnEnd,pnLast)
pnBtnStart = Math.min(pnBtnStart,pnLast - pnBtnLimit + 1)
const pnList = Array.from({ length: pnBtnEnd - pnBtnStart + 1 }, (_, i) => pnBtnStart + i);
---

<nav class="flex justify-center my6 ">
  <div class="flex space-x-2">
    <If condition={pnCurr > 1}>
      <a class="btn-num" href={pnUrl(1)}><Icon name="mdi:chevron-double-left"/></a>
    </If>
    {pnList.map(pn => (
      <a class="btn-num" href={pnUrl(pn)} class:list={pn==pnCurr?'active':''}>{pn}</a>
    ))}
    <If condition={pnCurr < pnLast}>
      <a class="btn-num" href={pnUrl(pnLast!)}><span class="text-xs">共 {pnLast} 页</span><Icon name="mdi:chevron-double-right"/></a>
    </If>
  </div>
</nav>

<style>
  a:hover {
    color:var(--colors-gradientBlue-middle);
  }
  a.active {
    background: var(--colors-gradientBlue-middle);
    color: #fff;
  }
</style>