---
import { Icon } from "astro-icon/components"
interface Props { class?: string }
---

<a class="theme-icon pos-relative w1em h1em" class:list={Astro.props.class}>
  <Icon class="light" name="mdi:white-balance-sunny"/>
  <Icon class="dark" name="mdi:weather-night"/>
</a>

<style is:global>
  .theme-icon [data-icon] { position: absolute ; top: 0; left: 0; opacity: 0; transition: all .5s; }
  .light .theme-icon .light { opacity: 1; }
  .dark .theme-icon .dark { opacity: 1; }
</style>

<script>
  const themeChangeEvent = new Event('theme');
  document.querySelectorAll<HTMLDivElement>(".theme-icon")!.forEach(el=>el.addEventListener("click", function () {
    const docClassList = document.documentElement.classList;
    if (docClassList.contains("dark")) {
      docClassList.remove("dark");
      docClassList.add("light");
      localStorage.setItem("theme", "light");
    } else {
      docClassList.remove("light");
      docClassList.add("dark");
      localStorage.setItem("theme", "dark");
    }
    window.dispatchEvent(themeChangeEvent)
  }));
</script>