---
import { ensureTitleIcon, titleColor2gcTextstyleVars } from '@/utils'
import TitleIcon from './TitleIcon.astro'
import If from '@/components/atomic/If.astro'

interface Props {
  id?: string
  title: string
  titleIcon?: string
  titleColor?: string
  titleShow?: boolean
  titleIconOff?: boolean
}
const {
  id,
  title,
  titleIcon,
  titleColor,
  titleShow = true,
  titleIconOff,
} = Astro.props
---

<h1 id={id} class="text-3xl items-center pb4" style={{display:titleShow?'flex':'none'}}>
  <If condition={!titleIconOff}>
    <span class="w-8 h-8 min-w-8 min-h-8 max-w-8 max-h-8 mr-1">
      <TitleIcon {...ensureTitleIcon(titleIcon)}/>
    </span>
  </If>
  <span class="gc-text" style={titleColor2gcTextstyleVars(titleColor)}>{title}</span>
</h1>