---
import { Icon } from 'astro-icon/components'
interface Props {
  light: string,
  dark: string,
}
const { light, dark } = Astro.props
---

{(()=>{

const getIcon = (text:string, style: any) => {
  // ~ = enhance
  let enhance = text.startsWith('~')
  enhance && (text = text.slice('~'.length))
  let isAssetIcon = text.startsWith('asset:')
  isAssetIcon && (text = text.slice('asset:'.length))
  // url = <img>
  if (text.startsWith("/") || text.startsWith("http:") || text.startsWith("https://")) {
    return <img class="wfull hfull" alt="" src={text}/>
  }
  // handle
  let [ name, color, backgroundColor ] = text.split(',')
  
  const is = (...s:string[]) => s.includes(name.split(':')[0])

  enhance && Object.assign(style, {
    border: `solid 1px ${color||style.color}`,
    borderRadius:'8px',
    padding:'2px',
    backgroundColor: backgroundColor ?? style.backgroundColor
  })

  Object.assign(style, {
    color: color ?? style.color,
    fill: color ?? style.color,
    backgroundColor: enhance ? style.backgroundColor : backgroundColor
  })

  return <Icon class="wfull hfull" {name} {style}/>
}

return (
<span class="post-title-icon inline-block w-full h-full">
  <span class="dark:hidden">{getIcon(light,{color:'#4c4948',backgroundColor:'#f5f5f5'})}</span>
  <span class="light:hidden">{getIcon(dark,{color:'#c9c9d7',backgroundColor:'#444'})}</span>
</span>
)

})()}