---
import PageLayout from "@/layouts/PageLayout.astro";
import { tagsWithPostCount } from '@/content/posts';
import { getRandomRGB } from '@/utils/color';
---

<PageLayout title="标签" titleIcon="mdi:tag-multiple" asideCards={['CardRecentPost','CardCategroies','CardToolbar']}>

<div class="lh-[3] text-4">
  {Object.entries(tagsWithPostCount).map(([tag,post_count]) => (
    <a class="inline-block mr1em hover:text-[#49b1f5!important] hover:scale-110 duration-200" href={`/tags/${tag}`} style={`font-size:${post_count*0.1+1}em;color:${getRandomRGB()}`}>{tag}({post_count})</a>
  ))}
</div>

</PageLayout>