---
import PageLayout from "@/layouts/PageLayout.astro";
import { categoryItemsWithSubcategories, type CategoryItemWithSubcategories } from "@/content/posts";
---

<PageLayout title="分类" titleIcon="mdi:folder-open" asideCards={['CardRecentPost','CardTagCloud','CardToolbar']}>

<ul class="lh-[2.5] text-4">
{(()=>{
  const h = (category:CategoryItemWithSubcategories) => (
    <li class="list-circle-inside pl-1em">
      <a href={`/categories${category.path}`}>
        <span class="antares-blue-link">{category.name}</span>
        <span class="text-#aaa">({category.postCount})</span>
      </a>
      { category.subcategories && <ul> { category.subcategories.map((subcategory) => h(subcategory)) } </ul> }
      
    </li>
  )
  return categoryItemsWithSubcategories.map((category)=> h(category))
})()}
</ul>

</PageLayout>