---
import PageLayout from "@/layouts/PageLayout.astro";
import { NAV_ITEMS } from "@/config";
const items = NAV_ITEMS.map(item=>[item,...item.children||[]]).flat()
---

<PageLayout title="Error: 404" titleIconOff asideCards={['CardInfo','CardCategroies','CardTagCloud','CardToolbar']}>
  <div data-pagefind-ignore>
    <h1 class="font-700 text-8xl my16">Oops!</h1>
    <div class="lh-loose">
      <h2 class="text-xl">这里似乎没有你要找的页面 :(</h2>
      <h2 class="font-600 my4">Code: 404 PAGE_NOT_FOUND</h2>
      <h2>返回 <a href="javascript:window.history.back()">刚才的页面</a></h2>
      <h2>尝试 <a href="/search">进行搜索</a></h2>
      <h2>或者 下面是一些有用的链接：</h2>
      <ul class="list-circle-inside my4">
        {items.map(item=>(
          <li>{item.text} - <a href={item.href}>{item.href}</a></li>
        ))}
      </ul>
    </div>
  </div>
</PageLayout>