---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LinkCard from "@/components/widget/LinkCard.astro";
import { FRIEND_LINK } from "@/config";

const { groups, siteshotPrefix } = FRIEND_LINK

groups.forEach(({links})=>links.forEach(link=>{
  link.siteshot = link.siteshot ? link.siteshot : siteshotPrefix + link.link
  link.siteshot = link.siteshot.startsWith("/") ? siteshotPrefix + link.siteshot : link.siteshot
}))
---

<BaseLayout subtitle="友情链接" asideOff>
<div>
  {groups.map(({groupType,groupName,groupDesc,links},index) => (
    <div class="mb5">
      <h1 class="text-xl fw-bold mb2">{groupName}</h1>
      <p class="text-lg mb2">{groupDesc}</p>
      <div>{links.map(link=><div class="inline-block m1"><LinkCard type={groupType} {...link}/></div>)}</div>
    </div>
  ))}
</div>
</BaseLayout>