---
import "@/styles/markdown-standard.scss";
import "@/styles/markdown-mini.scss";
import "@/styles/expressive-code.scss";
import "@/styles/remark-directive-widgets.scss";
import "@/styles/callout.scss";
import { markdown2html } from "@/utils/markdown";
import If from "./If.astro";

interface Props {
  style?: "standard" | "mini" | "off";
  render?: boolean; // 启用则认为内容为markdown 会转为html
}

const { style = "standard", render = false } = Astro.props;
const content = await Astro.slots.render("default");
const html = render ? await markdown2html(content) : content;
---

<If condition={style === "standard"}>
  <div class="markdown-standard remark-directive-widgets">
    <Fragment set:html={html} />
  </div>
</If>
<If condition={style === "mini"}>
  <div class="markdown-mini"><Fragment set:html={html} /></div>
</If>
<If condition={style === "off"}>
  <Fragment set:html={html} />
</If>
