---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import PageNav from '@/components/widget/PageNav.astro'
import type { GetStaticPaths } from 'astro'
import { POST_PGAE_SIZE as pageSize } from '@/config'
import posts_all from '@/content/posts'

export const getStaticPaths = (async ({ paginate }) => {
  return paginate(posts_all, { pageSize })
}) satisfies GetStaticPaths

const { page } = Astro.props
const posts = page.data
const pnCurr = page.currentPage, pnLast = page.lastPage
---

<BaseLayout asideCards={['CardInfo','CardCategroies','CardTagCloud','CardToolbar']}>
  <div class="space-y-5">
    {posts.map((post) => (
      <PostCard {post}/>
    ))}
  </div>
  <PageNav {pnCurr} {pnLast} urlPrefix="/page/" urlFirst="/"/>
</BaseLayout>